extends tab

block jobsrunning
  #allJobsRunning
  br
  p Page opened 
    abbr.timeago.loaded

block jobspending
  #allJobsPending
  br
  p Page opened 
    abbr.timeago.loaded

block history
  p. 
    This page lists your already terminated jobs from the 10 last days.
    You can select another date in the field below.
  div(id='div_start_date', class='input-append date')
     input(type='text', name='startDate', class='span2', id='startDate')
     span.add-on
        i.icon-th
  #historyTable
  br
  p Page opened 
    abbr.timeago.loaded

block status
  h2 Cluster status
  #statusTable
  h2 Cluster reservation
  #reservationTable
  br
  p Page opened 
    abbr.timeago.loaded

block tools
  h2 Sbatch generator
  #sbatchGenerator
  br
  p Page opened 
    abbr.timeago.loaded

block docs
  h2 Enduser documentation
  ul
    li
      a(href='http://baobabmaster.unige.ch/enduser/src/enduser/enduser.html' target='_blank') Baobab documentation
    li
      a(href='http://baobabmaster.unige.ch/slurmdoc/overview.html' target='_blank') Slurm documentation
