extends tab

block jobsrunning
  #allJobsRunning

block jobspending
  #allJobsPending

block history
  div(id='div_start_date', class='input-append date')
     input(type='text', name='startDate', class='span2', id='startDate')
     span.add-on
        i.icon-th
  #historyTable

block status
  h2 Cluster status
  #statusTable
  h2 Cluster reservation
  #reservationTable
