extends tab

block jobsrunning
  #allJobsRunning
  br
  p Page opened 
    abbr.timeago.loaded

block jobspending
  #allJobsPending
  br
  p Page opened 
    abbr.timeago.loaded

block history
  if userDetail.isAdmin
    p You are administrator
  p. 
    This page lists your already terminated jobs from the 10 last days.
    You can select another date in the field below.
  form(role='form')
    div(class='form-group')
      label(for='startDate') Start date:
      div(id='div_start_date', class='input-group date')
        input(type='text', class="form-control" name='startDate', id='startDate')
        span.input-group-addon.glyphicon.glyphicon-th
    if userDetail.isAdmin
      div(class='form-group')
        label(for='historyUser') Select a user:
        input(name='historyUser', class="form-control" id='historyUser')
  #historyTable
  br
  p Page opened 
    abbr.timeago.loaded

block applications
  h2 Applications on the cluster
  p
    | Have a look 
    a(href='http://baobabmaster.unige.ch/enduser/src/enduser/enduser.html#modules' target='_blank') here
    |  to know how to use most of the applications on the cluster using "modules".
  #appsTable
  br
  p Page opened
    abbr.timeago.loaded

block status
  h2 Cluster status
  #statusTable
  img(src="https://baobabmaster.unige.ch/ganglia2/graph.php?m=slurm_report&z=large&c=DALCO%20Cluster&h=master.cluster&r=day" id="img_slurm_status_day")
  img(src="https://baobabmaster.unige.ch/ganglia2/graph.php?m=slurm_report&z=large&c=DALCO%20Cluster&h=master.cluster&r=hour" id="img_slurm_status_hour")
  h2 Cluster reservation
  #reservationTable
  h2 Links
  ul
    li
      a(href='http://baobabmaster.unige.ch/ganglia2/?hc=0&sh=2' target='_blank') Ganglia
    li
      a(href='https://baobabmaster.unige.ch/ganglia2/graph_all_periods.php?title=Power+consumption+[W]&vl=&x=&n=&hreg[]=master|login1|server1|server2|node01|node05|node09|node13|node17|node21|node25|node29|node33|node37|node41|node45|node49|node53|node57|node58|node59|node60|node61|node62|node63|node64|node65|node66&mreg[]=PS1_Input_Power|PS2_Input_Power&gtype=stack&glegend=hide&aggregate=1' target='_blank') Power consumption
  br
  p Page opened 
    abbr.timeago.loaded

block tools
  h2 Sbatch generator
  #sbatchGenerator
  br
  p Page opened 
    abbr.timeago.loaded

// - this block is only seen if the user is in group admin
if userDetail.isAdmin
  block admin
    ul
      li
        a(href='https://baobabmaster.unige.ch/admin/' target='_blank') Admin doc
      li
        a(href='https://baobabmaster.unige.ch/ubmod/' target='_blank') Ubmod

block faq
  #faq

block doc
  h2 Enduser documentation
  ul
    li
      a(href='http://baobabmaster.unige.ch/enduser/src/enduser/enduser.html' target='_blank') Baobab documentation
    li
      a(href='http://baobabmaster.unige.ch/slurmdoc/overview.html' target='_blank') Slurm documentation (for advanced use)
