extends tab



block jobsrunning
  h2 Your jobs
  h2 All jobs
  #allJobsRunning

block jobspending
  h2 Your jobs
  h2 All jobs
  #allJobsPending

block history
  h2 Your jobs

block status
  h2 Cluster status
  #statusTable
  h2 Cluster reservation
