extends tab



block jobsrunning
  #allJobsRunning

block jobspending
  #allJobsPending

block history
  h2 not yet implemented...

block status
  h2 Cluster status
  #statusTable
  h2 Cluster reservation
  #reservationTable
