extends layout

block content
  ul.nav.nav-tabs
    li
      a( href="#jobsrunning" data-toggle="tab").active Jobs running
    li
      a( href="#jobspending" data-toggle="tab") Jobs pending
    li
      a( href="#history" data-toggle="tab") History
    li
      a( href="#status" data-toggle="tab") Status

  .tab-content
    .tab-pane(id="jobsrunning").active 
      block jobsrunning
    .tab-pane(id="jobspending")
      block jobspending
    .tab-pane(id="history")
      block history
    .tab-pane(id="status")
      block status
