extends layout

block content
  ul#tab.nav.nav-tabs
    li
      a( href="#jobsrunning" data-toggle="tab") Jobs running
    li
      a( href="#jobspending" data-toggle="tab") Jobs pending
    li
      a( href="#history" data-toggle="tab") History
    li.active
      a( href="#status" data-toggle="tab") Status

  .tab-content
    .tab-pane(id="jobsrunning")
      block jobsrunning
    .tab-pane(id="jobspending")
      block jobspending
    .tab-pane(id="history")
      block history
    .tab-pane(id="status").active
      block status
